@use "../abstracts/" as *;

.cta {
  margin-top: min(calc(4rem + 25vw), 13rem);
  height: 37.5rem;
  position: relative;
  background: $clr-black url("../assets/images/bg-pattern-2.svg") top center /
    75% no-repeat;
  border-radius: 0.75rem;

  &__img {
    position: absolute;
    inset: max(-25vw, -9rem) 0 auto;
    margin-inline: auto;
    max-width: max(55.7%, 13rem);
  }

  &__inner-box {
    position: relative;
    bottom: max(calc(-7.5rem - 70vw), -30rem);
    padding: 3rem get-clamp(2.25rem, 3rem, 23.4375rem, 48rem);
    background-color: $clr-main;
    border-radius: 0.75rem;
  }

  &__desc {
    margin-top: 0.75rem;
  }

  &__price {
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
  }

  &__amount {
    margin-right: 1rem;
  }
}
