@use "../abstracts/" as *;

.footer {
  display: grid;
  gap: 2rem;
  margin: {
    top: min(calc(13rem + 50vw), 30rem);
    inline: $margin-inline-main;
    bottom: 4rem;
  }

  @include mq(950px) {
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  &__logo {
    margin-right: 6.6rem;
  }

  &__wrapper {
    @include mq(680px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__text {
    max-width: 40ch;
  }

  &__nav {
    margin-block: 4rem;
    display: flex;
    gap: 1.25rem;
  }

  &__social-link {
    transition: transform 0.3s ease-in;

    &:hover,
    &:active {
      transform: scale(1.15);

      & .footer__social-icon {
        fill: $clr-main;
      }
    }
  }

  &__social-icon {
    transition: fill 0.2s ease-in;
  }
}
