@use "../abstracts/" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  min-width: 100%;
  padding: 1.175rem;

  border-radius: 0.75rem;

  &-ios {
    margin-top: 1.1rem;
    background-color: $clr-black;

    &:hover,
    &:focus {
      background-color: $clr-black-contrast;
      color: $clr-black;

      & .logo-ios {
        fill: $clr-black;
      }
    }
  }

  &-android {
    margin-top: 1rem;
    background-color: $clr-white;

    &:hover,
    &:focus {
      background-color: $clr-white-contrast;
    }
  }
}
