@use "../abstracts/" as *;

body {
  background: $clr-white url("../assets/images/bg-main-mobile.png") top -13rem right -13rem
    no-repeat;
  margin: 0 auto;
  max-width: 32rem;

  @include mq(680px) {
    max-width: 74rem;
  }
}
