@use "../abstracts/" as *;

@font-face {
  font: {
    family: "Plex Sans";
    weight: 400;
  }
  src: url("../assets/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font: {
    family: "Plex Sans";
    weight: 700;
  }
  src: url("../assets/fonts/IBMPlexSans-Bold.ttf") format("truetype");
}

body {
  font: 400 1rem "Plex Sans", sans-serif;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
}

.top-text {
  color: $clr-black;

  &__title {
    font-size: get-clamp(2.5rem, 4rem, 23.4375rem, 35rem);
    line-height: get-clamp(3rem, 4rem, 23.4375rem, 35rem);
  }

  &__desc {
    font-size: get-clamp(1rem, 1.125rem, 23.4375rem, 28rem);
    line-height: get-clamp(1.625rem, 1.75rem, 23.4375rem, 28rem);
  }
}

.cta {
  color: $clr-white;

  &__title {
    font-size: get-clamp(2rem, 2.5rem, 48rem, 59.375rem);
    line-height: 2.5rem;
  }

  &__desc {
    font-size: get-clamp(1.125rem, 1.25rem, 48rem, 59.375rem);
    line-height: get-clamp(1.75rem, 2.125rem, 48rem, 59.375rem);
  }

  &__price {
    font-size: 1.25rem;
  }

  &__amount {
    font: {
      size: 4.0625rem;
      weight: 700;
    }
  }
}

.btn {
  font: {
    size: 1.125rem;
    weight: 700;
  }

  &-ios {
    color: $clr-white;
  }

  &-android {
    color: $clr-black;
  }
}

.footer {
  color: $clr-black;

  &__text {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  &__email {
    font: {
      size: 1rem;
      weight: 700;
    }
    line-height: 1.625rem;
    text-decoration: none;
    color: inherit;
  }
}
