*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Plex Sans";
  font-weight: 400;
  src: url("../assets/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Plex Sans";
  font-weight: 700;
  src: url("../assets/fonts/IBMPlexSans-Bold.ttf") format("truetype");
}
body {
  font: 400 1rem "Plex Sans", sans-serif;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
}

.top-text {
  color: #191826;
}
.top-text__title {
  font-size: clamp(
    2.5rem,
    12.97vw + -0.54rem,
    4rem
  );
  line-height: clamp(
    3rem,
    8.65vw + 0.97rem,
    4rem
  );
}
.top-text__desc {
  font-size: clamp(
    1rem,
    2.74vw + 0.36rem,
    1.13rem
  );
  line-height: clamp(
    1.63rem,
    2.74vw + 0.98rem,
    1.75rem
  );
}

.cta {
  color: #fcfaf9;
}
.cta__title {
  font-size: 2rem;
  line-height: 2.5rem;
}
.cta__desc {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.cta__price {
  font-size: 1.25rem;
}
.cta__amount {
  font-size: 4.0625rem;
  font-weight: 700;
}

.btn {
  font-size: 1.125rem;
  font-weight: 700;
}
.btn-ios {
  color: #fcfaf9;
}
.btn-ios:hover, .btn-ios:focus {
  color: #191826;
}

body {
  background: #fcfaf9 url("../assets/images/bg-main-mobile.png") top -13rem right -13rem no-repeat;
  max-width: 32rem;
  margin: 0 auto;
}

.header {
  margin-block: clamp(
    2.5rem,
    5.58vw + 1.19rem,
    3.87rem
  );
  margin-inline: clamp(
    1.5rem,
    3.87vw + 0.59rem,
    2.45rem
  );
}

.top-text {
  margin-block: clamp(
    1.5rem,
    2.32vw + 0.96rem,
    2.07rem
  );
  margin-inline: clamp(
    1.5rem,
    3.87vw + 0.59rem,
    2.45rem
  );
}
.top-text__title {
  max-width: 12ch;
}
.top-text__desc {
  margin-top: 1.25rem;
  max-width: 47ch;
}

.cta {
  margin-top: min(4rem + 25vw, 13rem);
  height: 37.5rem;
  position: relative;
  background: #191826 url("../assets/images/bg-pattern-2.svg") top center/75% no-repeat;
  border-radius: 0.75rem;
}
.cta__img {
  position: absolute;
  inset: max(-25vw, -9rem) 0 auto;
  margin-inline: auto;
  max-width: max(55.7%, 13rem);
}
.cta__inner-box {
  position: relative;
  bottom: max(-7.5rem - 70vw, -30rem);
  padding: 3rem clamp(
    2.25rem,
    3.05vw + 1.53rem,
    3rem
  );
  background-color: #fa7453;
  border-radius: 0.75rem;
}
.cta__desc {
  margin-top: 0.75rem;
}
.cta__price {
  display: flex;
  align-items: center;
  margin-top: 1.1rem;
}
.cta__amount {
  margin-right: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  min-width: 100%;
  padding: 1.175rem;
  border-radius: 0.75rem;
}
.btn-ios {
  margin-top: 1.1rem;
  background-color: #191826;
}
.btn-ios:hover, .btn-ios:focus {
  background-color: #66e2dc;
  color: #191826;
}
.btn-ios:hover .logo-ios, .btn-ios:focus .logo-ios {
  fill: #191826;
}
.btn-android {
  margin-top: 1rem;
  background-color: #fcfaf9;
}
.btn-android:hover, .btn-android:focus {
  background-color: #ffb964;
}/*# sourceMappingURL=main.css.map */