*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Plex Sans";
  font-weight: 400;
  src: url("../assets/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Plex Sans";
  font-weight: 700;
  src: url("../assets/fonts/IBMPlexSans-Bold.ttf") format("truetype");
}
body {
  font: 400 1rem "Plex Sans", sans-serif;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
}

.top-text {
  color: #191826;
}
.top-text__title {
  font-size: clamp(
    2.5rem,
    12.97vw + -0.54rem,
    4rem
  );
  font-size: clamp(
    2.5rem,
    8.21vw + 0.58rem,
    5.5rem
  );
  line-height: clamp(
    3rem,
    8.65vw + 0.97rem,
    4rem
  );
  line-height: clamp(
    3rem,
    6.84vw + 1.4rem,
    5.5rem
  );
}
.top-text__desc {
  font-size: clamp(
    1rem,
    0.68vw + 0.84rem,
    1.25rem
  );
  line-height: clamp(
    1.63rem,
    1.37vw + 1.3rem,
    2.13rem
  );
}

.cta {
  color: #fcfaf9;
}
.cta__title {
  font-size: clamp(
    2rem,
    4.4vw + -0.11rem,
    2.5rem
  );
  line-height: 2.5rem;
}
.cta__desc {
  font-size: clamp(
    1.13rem,
    1.1vw + 0.6rem,
    1.25rem
  );
  line-height: clamp(
    1.75rem,
    3.3vw + 0.17rem,
    2.13rem
  );
}
.cta__price {
  font-size: 1.25rem;
}
.cta__amount {
  font-size: 4.0625rem;
  font-weight: 700;
}

.btn {
  font-size: 1.125rem;
  font-weight: 700;
}
.btn-ios {
  color: #fcfaf9;
}
.btn-android {
  color: #191826;
}

.footer {
  color: #191826;
}
.footer__text {
  font-size: 1rem;
  line-height: 1.625rem;
}
.footer__email {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  text-decoration: none;
  color: inherit;
}

body {
  background: #fcfaf9 url("../assets/images/bg-main-mobile.png") top -13rem right -13rem no-repeat;
  margin: 0 auto;
  max-width: 32rem;
}
@media (min-width: 42.5em) {
  body {
    max-width: 74rem;
    background-image: url("../assets/images/bg-pattern-1.svg"), url("../assets/images/bg-main-tablet.png");
    background-position: top -3% right, top -13rem right -10rem;
    background-size: min(30vw, 20rem), auto;
  }
}
@media (min-width: 59.375em) {
  body {
    background-image: url("../assets/images/bg-pattern-1.svg"), url("../assets/images/bg-main-desktop.png");
  }
}

.header {
  margin-block: clamp(
    2.5rem,
    5.58vw + 1.19rem,
    3.87rem
  );
  margin-inline: clamp(
    1.5rem,
    3.87vw + 0.59rem,
    2.45rem
  );
}

.top-text {
  margin-block: clamp(
    1.5rem,
    17.78vw + -2.67rem,
    8rem
  );
  margin-inline: clamp(
    1.5rem,
    3.87vw + 0.59rem,
    2.45rem
  );
}
.top-text__title {
  max-width: 12ch;
}
@media (min-width: 78.75em) {
  .top-text__title {
    max-width: 18ch;
  }
}
.top-text__desc {
  margin-top: clamp(
    1.25rem,
    5vw + -1rem,
    2rem
  );
  max-width: 47ch;
}
@media (min-width: 78.75em) {
  .top-text__desc {
    max-width: 70ch;
  }
}

.cta {
  margin-top: min(4rem + 25vw, 17rem);
  height: 37.5rem;
  position: relative;
  background: #191826 url("../assets/images/bg-pattern-2.svg") top center/min(75%, 20rem) no-repeat;
  border-radius: 0.75rem;
}
@media (min-width: 42.5em) {
  .cta {
    margin-inline: clamp(
    1.5rem,
    3.87vw + 0.59rem,
    2.45rem
  );
    background-position: min(50%, 20rem) -37%;
  }
}
.cta__img {
  position: absolute;
  inset: max(-25vw, -9rem) 0 auto;
  margin-inline: auto;
  max-width: max(55.7%, 13rem);
}
@media (min-width: 42.5em) {
  .cta__img {
    max-width: clamp(
    16.4rem,
    15.5vw + 9.81rem,
    19.5rem
  );
    inset: -9rem auto auto clamp(
    2rem,
    25.03vw + -8.64rem,
    6.38rem
  );
  }
}
.cta__inner-box {
  position: absolute;
  bottom: max(-4rem - 70vw, -25rem);
  padding: clamp(
    3rem,
    8.79vw + -1.22rem,
    4rem
  ) clamp(
    2.25rem,
    3.48vw + 1.43rem,
    3.5rem
  ) 3rem;
  background-color: #fa7453;
  border-radius: 0.75rem;
}
@media (min-width: 42.5em) {
  .cta__inner-box {
    max-width: clamp(
    25rem,
    25.27vw + 12.87rem,
    27.88rem
  );
    inset: auto clamp(
    2rem,
    22vw + -7.35rem,
    5.85rem
  ) -7.25rem auto;
  }
}
.cta__desc {
  margin-top: clamp(
    0.75rem,
    5.93vw + -1.77rem,
    1.75rem
  );
}
.cta__price {
  display: flex;
  align-items: center;
  margin-top: 1.1rem;
}
.cta__amount {
  margin-right: 1rem;
}

.footer {
  display: grid;
  gap: 2rem;
  margin-top: min(13rem + 50vw, 30rem);
  margin-inline: clamp(
    1.5rem,
    3.87vw + 0.59rem,
    2.45rem
  );
  margin-bottom: 4rem;
}
@media (min-width: 42.5em) {
  .footer {
    margin-top: 10.5rem;
  }
}
@media (min-width: 59.375em) {
  .footer {
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}
.footer__logo {
  margin-right: 6.6rem;
}
@media (min-width: 42.5em) {
  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__text {
  max-width: 40ch;
}
.footer__nav {
  margin-block: 4rem;
  display: flex;
  gap: 1.25rem;
}
.footer__social-link {
  transition: transform 0.3s ease-in;
}
.footer__social-link:hover, .footer__social-link:active {
  transform: scale(1.15);
}
.footer__social-link:hover .footer__social-icon, .footer__social-link:active .footer__social-icon {
  fill: #fa7453;
}
.footer__social-icon {
  transition: fill 0.2s ease-in;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  min-width: 100%;
  padding: 1.175rem;
  border-radius: 0.75rem;
  transition: background 0.3s ease-in;
}
.btn-ios {
  margin-top: clamp(
    1.1rem,
    5.14vw + -1.09rem,
    2rem
  );
  background: #191826;
}
.btn-ios:hover, .btn-ios:focus {
  background: #66e2dc;
}
.btn-android {
  margin-top: 1rem;
  background: #fcfaf9;
}
.btn-android:hover, .btn-android:focus {
  background: #ffb964;
}/*# sourceMappingURL=main.css.map */